<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;">
  <h4>Edit Products here</h4>

</div>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
<!--                  <h4 class="card-title">Basic form elements</h4>-->
<!--                  <p class="card-description">-->
<!--                    Basic form elements-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_product' dataid=product.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Select Category</label>
                      <select class="form-control" name="cat">
                          {% for j in cat %}
                              <option>{{product.Cat_name}}</option>

                              <option>{{j.Name}}</option>
                           {% endfor %}
<!--                              <option>Category3</option>-->
<!--                              <option>Category4</option>-->
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="pname" value="{{product.Pro_name}}">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputEmail3">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword4">Password</label>-->
<!--                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    <div class="form-group">-->
<!--                      <label>File upload</label>-->
<!--                      <input type="file" name="img[]" class="file-upload-default">-->
<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                        </span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputCity1">City</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                    </div>-->
                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="pdescription">{{product.Description}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Prize</label>
                      <input type="text" class="form-control" id="" placeholder="prize" name="prize" value="{{product.Price}}">
                    </div>
                    <label>Image Preview:</label>
                      <img src="{{product.Pro_image.url}}" width="100px" height="100px"><br><br>
                      <label>Product Image:</label>
                      <input type="file" placeholder="Add Image" name="pimage" value="{{product.Pro_image.url}}"><br><br>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
</div>

</body>
</html>
{% endblock %}